
target/test-classes/biosequence/data/TAIR10/TAIR10_chr1.fas
target/test-classes/biosequence/data/TAIR10/TAIR10_chr2.fas
target/test-classes/biosequence/data/TAIR10/TAIR10_chr3.fas
target/test-classes/biosequence/data/TAIR10/TAIR10_chr4.fas
target/test-classes/biosequence/data/TAIR10/TAIR10_chr5.fas
target/test-classes/biosequence/data/TAIR10_chr1_.fa
target/test-classes/biosequence/data/88_chr1.fa
target/test-classes/biosequence/data/88_chr1_.fa
target/test-classes/biosequence/data/chr1.fa
target/test-classes/biosequence/data/chr2.fa
target/test-classes/biosequence/data/inputpath1_.fa
target/test-classes/biosequence/data/inputpath1_1.fa
target/test-classes/fileprocess/data/chr1.fa
target/test-classes/fileprocess/data/chr2.fa
src/test/biosequence/data/88_chr1.fa
src/test/biosequence/data/88_chr1_.fa
src/test/biosequence/data/chr1.fa
src/test/biosequence/data/chr2.fa
src/test/biosequence/data/inputpath1_.fa
src/test/biosequence/data/inputpath1_1.fa
src/test/biosequence/data/TAIR10/TAIR10_chr1.fas
src/test/biosequence/data/TAIR10/TAIR10_chr2.fas
src/test/biosequence/data/TAIR10/TAIR10_chr3.fas
src/test/biosequence/data/TAIR10/TAIR10_chr4.fas
src/test/biosequence/data/TAIR10/TAIR10_chr5.fas
src/test/biosequence/data/TAIR10/TAIR10_chr1.fas
src/test/biosequence/data/TAIR10/TAIR10_chr2.fas
src/test/biosequence/data/TAIR10/TAIR10_chr3.fas
src/test/biosequence/data/TAIR10/TAIR10_chr4.fas
src/test/biosequence/data/TAIR10/TAIR10_chr5.fas
src/test/biosequence/data/TAIR10/TAIR10_chr1.fas
src/test/biosequence/data/TAIR10/TAIR10_chr2.fas
src/test/biosequence/data/TAIR10/TAIR10_chr3.fas
src/test/biosequence/data/TAIR10/TAIR10_chr4.fas
src/test/biosequence/data/TAIR10/TAIR10_chr5.fas
src/test/biosequence/data/TAIR10_chr1_.fa
src/test/fileprocess/data/chr1.fa
src/test/fileprocess/data/chr2.fa
*.fas
src/test/biosequence/data/TAIR10/TAIR10_chr1.fas
src/test/biosequence/data/TAIR10/TAIR10_chr2.fas
src/test/biosequence/data/TAIR10/TAIR10_chr3.fas
src/test/biosequence/data/TAIR10/TAIR10_chr4.fas
src/test/biosequence/data/TAIR10/TAIR10_chr5.fas
*.fas
src/test/biosequence/data/TAIR10/TAIR10_chr1.fas
*.fa
*.zip
*.ab
